* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Open Sans", Gotham, gotham, Tahoma, Geneva, sans-serif;
  /* overflow: hidden; */
}

a {
  text-decoration: none;
  color: #d64933;
}

.sendPropertyByEmail {
  color: white;
}
#signupForm button {
  margin-left: 35%;

  /* color: grey; */
}

.mainImage {
  width: 100%;
  height: auto;
}

#otherImages {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
}

.addressOneProperty {
  text-align: center;
  padding: 15px;
}

#priceProperty {
  font-weight: bold;
}
.containerOneProperty {
  background-color: white;
  margin: 10% auto;
  width: 50%;
}

.dataOneProperty {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 10px;
}

nav {
  display: grid;
  grid-template-rows: 2fr 1fr;
  /* display: inline-block; */
  text-align: end;
  /* position: fixed; */
  top: 0px;
  left: 0px;
  width: 100%;
  height: 110px;
  background-color: #eee5e9;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

#loginForm {
  /* text-align: center; */
  padding-top: 5%;
  display: grid;
  grid-template-rows: 2fr 2fr 2fr;
  /* right: 50%; */
  padding-left: 40%;
}

#loginForm button {
  width: 35%;
}

#loginForm input {
  width: 35%;
}

.logoMenu {
  display: grid;
  grid-template-columns: 2fr 5fr;
  padding: 15px;
}

#frmSearch {
  text-align: center;
  /* padding: 10px; */
}

#frmSearch input {
  width: 50%;
  margin-bottom: 15px;
  /* border: 1px solid #92dce5; */
}

#map_properties {
  position: fixed;
  /* top: 70px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: calc(100vh - 110px);
}
#map {
  width: 100%;
  background-color: #eee5e9;
}
#properties {
  width: 100%;
  background-color: #eee5e9;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 5px;
  overflow: auto;
  box-shadow: -2px 2px 5px 0 rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

img {
  width: 200px;
  height: auto;
}

.property img {
  /* object-fit: cover; */
  /* width: 100%; */
  width: 100%;
  max-height: 220px;
}

.activeP {
  /* border: "5px solid blue"; */
  box-shadow: 0px 0px 20px 20px blue;
}

.property {
  width: 100%;
  position: relative;
  /* padding: 2em; */
}

.addressGridIndex {
  padding-left: 3px;
}

.imgAndData {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

#uploadBtnProperty {
  color: white;
}
.container {
  height: 100vw;
  background-color: #afafaf;
}

.containerForProfileFunctions {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: 1fr 1fr;
}

.imgIndex {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
}

.profileWelcome {
  color: #06a4b7;
}

#signupForm {
  display: grid;
  justify-content: center;
  align-content: center;
  text-align: center;
  grid-gap: 10px;
}

button {
  width: 30%;
  padding: 10px 5px;
  border: none;
  background-color: #06a4b7;
  -webkit-font-smoothing: antialiased;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0px;
  text-transform: none;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  /* width: auto; */
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
  padding-top: 9px;
  padding-bottom: 9px;
  height: 42px;
  line-height: 22px;
  /* color: rgb(255, 255, 255); */
  /* background-color: rgb(0, 106, 255); */
  margin: 0px;
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-image: initial;
  border-radius: 3px;
  transition: all 0.2s ease 0s;
}

#profileContainer {
  border-right: solid 1px #06a4b7;
}

.propertiesTitle {
  text-align: center;
  background-color: aliceblue;
  color: #06a4b7;
  padding: 10px;
}

.bbsp {
  display: grid;
  grid-template-columns: 0.3fr 0.1fr 0.1fr 0.1fr;
}

.imgProfileProperty {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
}

#imgProfile {
  width: 300px;
  height: 300px;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}

.linksPropertyContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
  padding: 5px;
}

#formGridUpload {
  display: grid;
  grid-gap: 10px;
}

#formGridUpload input {
  width: 50%;
}

.idProfile {
  font-size: 80%;
}

.alignText {
  text-align: center;
}

.loginWelcome {
  text-align: center;
  /* color: #06a4b7; */
}

.addressGrid {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

#uploadImg {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
}

#uploadImg input {
  margin: auto;
}

#uploadImg button {
  color: white;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
/*      FORM VALIDATION         */

label {
  font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  /* width: 100%; */
  border: 0;
  border-radius: 5px;
  height: 35px;
  padding: 10px 10px 10px 30px;
  background: #eee;
}
input[type="text"]:valid,
input[type="email"]:valid,
input[type="password"]:valid {
  /* background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/check.svg); */
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 5px 6px;
}
input[type="text"]:valid + label,
input[type="email"]:valid + label,
input[type="password"]:valid + label {
  opacity: 0;
}
input[type="text"]:invalid:not(:focus):not(:placeholder-shown),
input[type="email"]:invalid:not(:focus):not(:placeholder-shown),
input[type="password"]:invalid:not(:focus):not(:placeholder-shown) {
  background: pink;
}

input[type="text"]:invalid:not(:focus):not(:placeholder-shown) ~ .errorMessage,
input[type="email"]:invalid:not(:focus):not(:placeholder-shown) ~ .errorMessage,
input[type="password"]:invalid:not(:focus):not(:placeholder-shown)
  ~ .errorMessage {
  max-height: 200px;
  padding: 3px 10px 10px 30px;
}

form .errorMessage {
  padding: 0 30px 0 50px;
  color: #999;
  max-height: 0;
  transition: all 0.3s;
  overflow: hidden;
  color: red;
  font-style: italic;
  font-size: 80%;
}

input.error {
  background-color: rgba(198, 38, 65, 0.1);
}

/* input {
  border: 1px solid #ddd;
  outline: none;
} */

.gridContainer {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 2em;
  padding: 1em;
}

#agentProperties {
  display: grid;
  grid-template-columns: 2fr 2fr;
  background-color: aliceblue;
  padding: 2em;
  grid-gap: 2em;
}

.active {
  box-shadow: 2px 2px 5px 2px #d64933;
}

.activeMenu {
  font-weight: bold;
  font-size: 120%;
}

.marker {
  display: block;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

.heart {
  /* fill: red; */
  top: 0;
  margin-top: 15px;
  bottom: 35%;
  right: 5%;
  width: 25px;
  position: absolute;
  cursor: pointer;
  /* border: black 1px solid; */
}

.heart path {
  stroke: black;
  /* fill: none; */
}

.forPath {
  fill: #d64933;
}

/* @keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
} */

#results {
  left: 25%;
  text-align: left;
  padding: 10px;
  width: 300px;
  /* height: 300px; */
  /* background-color: rgb(204, 197, 197); */
  /* border: 1px solid black; */
  display: none;
  position: fixed;
  z-index: 20;
  background-color: white;
  color: rgb(57, 200, 243);
}

.notification {
  padding: 10px;
  width: 300px;
  height: auto;
  /* border-radius: 10%; */
  left: 40%;
  top: 0;
  background-color: white;
  color: rgb(57, 200, 243);
  z-index: 20;
  text-align: center;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.4);
}

.menuItems {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
}

.error {
  border: 2px solid #d64933;
}

.notification {
  display: none;

  position: absolute;
  padding: 10px;
  width: 300px;
  height: auto;
  /* border-radius: 10%; */
  left: 40%;
  top: 0;
  background-color: white;
  color: rgb(57, 200, 243);
  z-index: 20;
  text-align: center;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.4);
}

.roundDot {
  border-radius: 50%;
  background-color: #d64933;
  width: 10px;
  height: 10px;
  margin-top: 5px;
}

.bbs {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
}

.saler {
  display: grid;
  grid-template-columns: 0.1fr 2fr;
  justify-content: center;
}

.priceIndex {
  font-weight: bold;
}

.forRent {
  display: grid;
  grid-template-columns: 0.2fr 3fr;
}

.linkDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 0 1px 0;
}

.borderSeparator {
  border-right: 1px solid black;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  /* visibility: hidden; */
  /* opacity: 0; */
}
/* .overlay:target {
  visibility: visible;
  opacity: 1;
} */

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  text-align: center;
  margin-top: 0;
  color: #d64933;
}
.popup .close {
  position: absolute;
  top: 10px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  cursor: pointer;
}
.popup .close:hover {
  color: #06d85f;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  text-align: center;
}

#propertiesLiked img {
  width: 400px;
  height: auto;
}

.imgUser {
  background-size: cover;
  width: 100%;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
}
.linksUserProfile {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  #uploadImg button {
    width: 210%;
    height: auto;
    /* padding-left: 0; */
    /* padding-right: 0; */
  }

  button {
    width: auto;
  }

  #formGridUpload input {
    width: 100%;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) {
  #map {
    display: none;
  }

  #properties {
    display: block;
  }

  #map_properties {
    display: block;
  }

  .logoMenu img {
    display: none;
  }

  .logoMenu {
    display: block;
  }

  .containerOneProperty {
    background-color: white;
    margin: 10% auto;
    width: 100%;
  }

  .gridContainer,
  .imgAndData,
  #uploadImg,
  #agentProperties {
    display: block;
  }

  #uploadImg,
  #uploadProperty {
    display: none;
  }

  .container {
    height: 100%;
    background-color: #afafaf;
  }

  #loginForm {
    /* text-align: center; */
    padding-top: 5%;
    display: grid;
    grid-template-rows: 2fr 2fr 2fr;
    /* right: 50%; */
    padding-left: 5%;
    padding-right: 5%;
    /* padding-left: 40%; */
  }

  #loginForm input {
    width: 100%;
  }
}
